{
	"printWidth": 100,
	"tabWidth": 3,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"fluid": true
}
