<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New Request</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
    <%- include('partials/navbar')%>
    <div class="login">
        <h1>New Request</h1>
        <form method="post">
            <input type="text" name="url" placeholder="URL" required="required" />
            <input type="number" name="period" placeholder="Period (As Minute)" required="required" pattern="[0-9]+" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Save New Request</button>
        </form>
    </div>

</body>

</html>