<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Let Me Log V.0.1</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

    <ul>
        <p data-item>LetMeLog</p>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>

    </ul>
</body>

</html>