<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Let Me Log V.0.1</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <ul>
        <li><a href="/request/add">Add New Task</a></li>
        <br>
        <li><a href="/request/list">Show Me Tasks</a></li>
        <br>
        <li><a href="/log/list">Show Me Logs</a></li>
        <br>
        <li><a href="/user/list">See Users</a></li>
        <br>
        <li><a href="/logout">Logout</a></li>

    </ul>
</body>

</html>