<link rel="stylesheet" href="../../css/navbar.css" />

<nav class="menu">
	<ol>
		<li class="menu-item"><a href="/main">Home</a></li>
		<li class="menu-item"><a onclick="javascript:history.back()" href="#">Back</a></li>
		<li class="menu-item"><a href="/logout">Logout</a></li>
	</ol>
</nav>
